.counter-display {
  display: flex;
  background-color: rgb(248, 244, 244);
  min-width: 18em;
  min-height: 12em;
  justify-content: center;
  align-items: center;
  border: 0.1em solid black;
  margin-top: 5em;
}

.task1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.number {
  font-size: 10em;
  color: gray;
}

.button-section {
  display: flex;
  flex-direction: row;
}
button {
  margin: none;
  border: none;
  height: 5em;
  width: 6em;
}

.forest-green {
  background: forestgreen;
}

.golden-rod {
  background: goldenrod;
}

.crimson {
  background: crimson;
}
