.new-card {
  display: flex;
  flex-direction: row;
  margin-right: 2em;
  justify-content: space-between;
}

.temp-min {
  display: flex;
  margin-right: 0.4em;
}

.temp-max {
  display: flex;
  font-weight: bold;
  margin-right: 0.4em;
}

.wind-speed {
  display: flex;
  font-weight: bold;
}

.kmph {
  display: flex;
  font-size: 0.7em;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 0.4em;
  font-weight: bold;
}

.wind-box {
  display: flex;
  width: 2em;
}

.hr {
  color: inherit;
  height: 1em;
}
