.original-card {
  display: flex;
  flex-direction: row;
}

.temperature {
  display: flex;
  font-weight: bold;
  font-size: 2em;
  margin-top: 0%;
  text-align: center;
  justify-content: center;
}

.date-time {
  display: flex;
  margin-right: 1em;
  flex-direction: column;
  margin-top: 0.4em;
}

.day {
  font-weight: bold;
}
