@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,800;1,900&display=swap');

.task2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 91.1vh;
  flex-direction: column;
  font-family: 'Montserrat';
  background: url(../assets/MorningBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.current-date-time {
  display: flex;
  color: white;
  font-size: 0.7em;
  text-shadow: 2px 2px 8px #000000;
  font-weight: lighter;
  text-align: center;
}

.app-name {
  display: flex;
  font-weight: bolder;
  font-size: 5em;
  color: whitesmoke;
  opacity: 40%;
  text-shadow: 2px 2px 8px #000000;
  margin-bottom: 0.25em;
  margin-top: 1em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .task2-container {
    background: skyblue;
    height: 130rem;
  }
  .app-name {
    margin-bottom: 4em;
    height: 1em;
    width: 6em;
    font-size: 2em;
    margin-top: 0%;
  }
  .current-date-time {
    display: none;
  }
}
