.display-card {
  display: flex;
  height: 6.5em;
  width: 12em;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: white;
  font-size: 1em;
  font-weight: 400;
  flex-direction: column;
  text-align: center;
  transition: height 0.5s;
}

.gray-blur {
  background: rgba(62, 126, 117, 0.384);
  height: 10em;
  color: rgb(216, 247, 234);
  text-shadow: 3px 2px 3px #000000;
}

.white-blur {
  background: rgba(255, 255, 255, 0.6);
  height: 10em;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 8px #a8a8a8;
}

.sky-blue-blur {
  background: rgba(255, 255, 255, 0.2);
  height: 10em;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 3px #a8a8a8;
}

.purple-blur {
  background: rgba(108, 48, 110, 0.5);
  height: 10em;
  color: whitesmoke;
  text-shadow: 4px 2px 5px #000000;
}
