.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 8px #000000;
  font-weight: bolder;
}

.button {
  display: flex;
  width: auto;
  height: auto;
  background: transparent;
  color: white;
  justify-content: center;
  align-items: center;
  border: none;
}

.current-city {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bolder;
  text-shadow: 2px 2px 5px #000000;
  margin-right: 0.25em;
}

.white {
  color: white;
}

.input {
  display: flex;
  background: transparent;
  justify-content: center;
  margin-top: auto;
  transition: 0.3s all;
  color: white;
  max-width: 8em;
  font-size: 1.5em;
  text-shadow: 2px 2px 5px #000000;
  font-weight: bolder;
  border: none;
}

.input:focus {
  width: auto;
  outline: none;
}

.input::placeholder {
  color: white;
}

.input:focus::placeholder {
  opacity: 0%;
}

select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.input-container {
  display: flex;
  flex-direction: row;
  border: 1px solid whitesmoke;
  border-radius: 50px;
  padding: 0rem 1rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .form-container {
    flex-direction: column;
    margin-bottom: 5em;
    height: 1em;
  }
  .input-container {
    max-width: 10em;
  }
  .input {
    max-width: 4em;
  }
}
