.display-container {
  display: flex;
  margin: 2em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}

.error {
  display: flex;
  background: rgba(248, 170, 215, 0.5);
  opacity: 100%;
  border: 1px solid crimson;
  padding: 1em;
  height: 5em;
  width: 30em;
  justify-content: center;
  align-items: center;
}

.error-msg {
  font-weight: bold;
  color: crimson;
  font-size: 2em;
  filter: none;
  z-index: 2em;
}

.loader {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #42a5f5;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin: 3em;
}

@-webkit-keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
