@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,800;1,900&display=swap');

.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.task {
  display: flex;
  min-width: 14.8em;
  min-height: 2em;
  background: cyan;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1em;
}

.link {
  display: flex;
  color: white;
  margin-top: 0.2em;
}

.link:hover {
  color: cyan;
  text-decoration: none;
}

.cyan {
  color: cyan;
}

.Navbar {
  font-weight: bold;
  font-family: 'Montserrat';
  position: absolute;
  min-width: 100vw;
}

.routes {
  display: flex;
  padding-top: 70px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 10em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1000px) {
  .Navbar {
    width: auto;
  }
}
